<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='index.css' ) }}">
    <title>Document</title>
</head>
<body>

    <h1>{{ x_num }} x {{ y_num }} Checkerboard</h1>
    <table>
        {% for i in range(x_num): %} 
        <tr>
            {% for j in range(y_num): %}
            <td class="color{{ (i+j)%2+1 }}"></td>
            {% endfor %}
        </tr>
         {% endfor %}
    </table>

</body>
</html>