<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='index.css' ) }}">
    <title>Document</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
        {% for element in list_of_users: %} 
        <tr>
            <td>
                {{ element["first_name"] }}
            </td>
            <td>
                {{ element["last_name"] }}
            </td>
            <td>
                {{ element["first_name"] }} {{ element["last_name"] }}
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>